<a ui-sref="sports">
	< Back </a>
		<div class="h3">{{sc.sport.name}}</div>

		<div class="h4">{{sc.sport.description}}</div>

		<div class="panel">
			<div class="panel-body">
				<form ng-submit="sc.addRoom()">
					<div class="form-group">
						<label for="">Name:</label>
						<input type="text" class="form-control" ng-model="sc.newRoom.name">
					</div>
					<div class="form-group">
						<label for="">Description:</label>
						<textarea rows="3" class="form-control" ng-model="sc.newRoom.description"></textarea>
					</div>
					<button class="btn  btn-success" type="submit"><span class="glyphicon glyphicon-plus"></span> Add Room</button>
				</form>
				<div class="panel panel-default">
					<div class="panel-heading">Available Rooms:</div>
					<div class="panel-body">
						<h2 ng-if="rooms.length < 1">Sorry, no rooms are currently available :(</h2>
						<ul ng-if="rooms.length > 0" class="list-group">
							<li class="list-group-item" ng-repeat="room in rooms track by room.id">
								<div ng-if="room.editing">
									<input type="text" ng-model="room.name"> -
									<input type="text" ng-model="room.description">
									<span class="pull-right">
										<button ng-click="room.editing = !room.editing; room.DSSave()" class="btn btn-sm btn-success">Done</button>
										</span>
								</div>
								<div ng-if="!room.editing">
									<a ui-sref="rooms.room({roomId: room.id})">{{room.name}} - {{room.description}}</a>
									<span class="pull-right">
									<button ng-click="room.editing = !room.editing" class="btn btn-sm btn-info">EDIT</button>
									<button ng-click="sc.remove(room)" class="btn btn-sm btn-danger">DELETE</button>
								</span>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>